
@import url(webfontkit/stylesheet.css);
body,*{
    
    font-family: 'star_jedi_hollowregular' !important;
    color: #ffc404 !important;
    
    
}
body{
    background: url(https://i.pinimg.com/originals/4a/a9/9b/4aa99b6ad2d2cbc7cb04a41571885a8f.jpg);
}
.imageStyle{
    width: 100%;
    height: 450px;
    margin: auto;
}
.hidden{
    display: none;
}

.header{
    width: 30%;
    height:fit-content;
    background-color: rgba(0, 0, 0, 0.548);
    text-align: center;
    margin: auto;
    font-size:4rem;
}
.buttons{
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.button{
    font-size: 2rem;
    background-color: black;
    margin-left: 1rem;
    padding: 12px 24px;
    border: 1px #ffc404 solid;
    border-radius: 8px;
}

